body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 70%;
  border: 5px solid gray;
}

.firstrow{
  display: flex;
  /*flex-direction: row;*/
  border: 5px solid yellow;
  justify-content: space-between;

}

.secondrow{
  display: flex;
  /*flex-direction: row;*/
  border: 5px solid blue;
  justify-content: space-between;

}

.thirdrow{
  display: flex;
  /*flex-direction: row;*/
  border: 5px solid red;
  justify-content: space-between;

}

div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid black;

}

div div a{
  flex-direction: row;
  text-decoration: none;

}

h2{
  text-align: center;
}

h5{
  text-align: center;
}
