html{
background-color: #A6CDA7;
font-family: 'Sanchez', serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 70%;
  /*border: 5px solid gray;*/
}

.firstrow{
  display: flex;
  /*flex-direction: row;*/
  /*border: 5px solid yellow;*/
  justify-content: space-between;

}

.secondrow{
  display: flex;
  /*flex-direction: row;*/
  /*border: 5px solid blue;*/
  justify-content: space-between;

}

.thirdrow{
  display: flex;
  /*flex-direction: row;*/
  /*border: 5px solid red;*/
  justify-content: space-between;

}

div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  /*border: 2px solid black;*/

}

div div a{
  flex-direction: row;
  text-decoration: none;
  color: #152A3F;

}

h1{
  text-align: center;
  color: #A1A1A1;
  /*font-family: 'Sanchez', serif;*/
}

h4{
  text-align: center;
  color: #A6CDA7;
}

h5{
  text-align: center;

}

.about, .contact, .cv, .media, .projects{
  border: 5px solid #152A3F;
}

@media (max-width: 500px) {
 h1 {
   font-size: 50px;
   margin-top: 20px;
   line-height: 40px;
 }
 h2 {
   font-size: 20px;
   margin: 20px 0 30px 0;
 }
 div {
   margin: 20px 12px 0 12px;
 }
 p {
   font-size: 20px;
   line-height: 24px;
 }
 small {
   font-size: 16px;
 }
}

/*hey hello*/
