body {
  font-family: 'Roboto', sans-serif;
}

.theme-scroll-intent:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 48px;
    background-image: url(./images/arrow-scroll-intent-vertical-2x.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 3px;
    -webkit-animation: bounce-vertical 1.4s ease-in-out infinite;
    animation: bounce-vertical 1.4s ease-in-out infinite;
}

@media (min-width:576px) {
    .theme-more .more-link {
        padding: 0 25px;
        margin: 25px 0 50px
    }
}

.theme-menu-bar {
    background: #2164F3;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%
}

.theme-menu-bar,
.theme-menu-bar * {
    color: #fff
}

.theme-menu-bar .menu-label {
    font-family: Exo, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #fff;
    background: #2164F3;
    display: inline-block;
    position: relative;
    z-index: 999;
    height: 61px;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear
}

.theme-menu-bar .menu-label .close {
    display: none;
    float: none;
    opacity: 1;
    text-shadow: none
}

.theme-menu-bar .menu-label,
.theme-menu-bar .menu-label:active,
.theme-menu-bar .menu-label:focus,
.theme-menu-bar .menu-label:hover {
    text-decoration: none
}

.theme-menu-bar .logo {
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px
}

.theme-menu-bar .logo.logo-desktop {
    display: none
}

.theme-menu-bar .logo img {
    display: block;
    width: 110px;
    height: auto
}

.theme-menu-bar .menu-card {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    background: #2164F3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .6s;
    transition: -webkit-transform .6s;
    transition: transform .6s;
    transition: transform .6s, -webkit-transform .6s;
    padding: 25px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 888
}

.theme-menu-bar ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.theme-menu-bar ul li {
    font-family: Exo, sans-serif;
    font-weight: 500;
    margin: 7px 0;
    letter-spacing: 1.5px
}

.theme-menu-bar ul a {
    font-size: 14px
}

.theme-menu-bar ul a:hover {
    color: currentColor
}

.theme-menu-bar ul a.active,
.theme-menu-bar ul a:active {
    color: #9defff
}

.theme-menu-bar ul a i {
    font-size: 120%
}

.theme-menu-bar ul.theme-socials-list {
    margin-bottom: 0
}

.theme-menu-bar ul.list-lg a {
    font-size: 20px
}

.theme-menu-bar ul.list-sm a {
    font-size: 15px
}

.theme-menu-bar ul.list-xs li {
    margin: 0;
    line-height: 1.6
}

.theme-menu-bar ul.list-xs a {
    font-size: 12px
}

.theme-menu-bar hr,
.theme-menu-bar ul,
.theme-menu-bar ul ul {
    margin: 0 0 20px
}

.theme-menu-bar hr:last-child,
.theme-menu-bar ul:last-child,
.theme-menu-bar ul ul:last-child {
    margin-bottom: 0
}

.theme-menu-bar hr:last-child ul,
.theme-menu-bar ul:last-child ul,
.theme-menu-bar ul ul:last-child ul {
    margin-bottom: 20px
}

.theme-menu-bar hr {
    border-color: currentColor;
    width: 40%
}

.theme-menu-bar.menu-sub {
    background: #edf3fc;
    bottom: 60px;
    z-index: 998
}

.theme-menu-bar.menu-sub,
.theme-menu-bar.menu-sub * {
    color: #2164F3
}

.theme-menu-bar.menu-sub>.menu-label {
    display: none
}

.theme-menu-bar.menu-sub .menu-card,
.theme-menu-bar.menu-sub .menu-label {
    background: #edf3fc
}

.theme-menu-bar.menu-sub .menu-label {
    border-top: 0
}

.theme-menu-bar.menu-sub .menu-label span {
    pointer-events: none
}

.theme-menu-bar.menu-sub .menu-label span:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 12px;
    background: url(../images/icons/icon-arrow-down.svg) no-repeat 50%;
    background-size: 10px auto
}

.theme-menu-bar.menu-sub .menu-label span.text:after {
    margin-left: 12px
}

.theme-menu-bar.menu-sub .menu-card {
    top: auto;
    padding-top: 0;
    max-height: calc(100vh - 60px);
    max-height: calc(var(--vh, 1vh)*100 - 60px);
    -webkit-transform: translateY(calc(100% - 60px));
    transform: translateY(calc(100% - 60px))
}

.theme-menu-bar.menu-sub ul li {
    font-size: 11px;
    color: #6b8ab1;
    text-transform: uppercase
}

.theme-menu-bar.menu-sub ul a {
    font-size: 14px;
    color: #2164F3;
    text-transform: none
}

.theme-menu-bar.menu-sub ul a:before {
    content: "\2014";
    display: inline-block;
    margin-right: 4px
}

.theme-menu-bar.menu-sub ul a.active {
    font-size: 18px;
    font-weight: 700
}

.theme-menu-bar.menu-open .menu-label .text {
    display: none
}

.theme-menu-bar.menu-open .menu-label .close {
    display: inline-block
}

.theme-menu-bar.menu-open .menu-card {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width:992px) {
    .theme-menu-bar {
        width: 72px;
        height: 100vh;
        height: calc(var(--vh, 1vh)*100);
        min-height: 600px;
        bottom: auto;
        top: 0;
        padding: 25px 22px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-transition: width .4s;
        transition: width .4s;
        overflow: hidden
    }

    .theme-menu-bar .menu-label {
        position: absolute;
        bottom: auto;
        top: 50%;
        left: 20px;
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
        -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: tb-rl;
        text-align: initial;
        border: 0;
        padding: 0;
        background: none;
        height: auto;
        width: auto
    }

    .theme-menu-bar .logo {
        top: auto;
        left: auto;
        -webkit-transition: none;
        transition: none
    }

    .theme-menu-bar .logo img {
        width: 130px
    }

    .theme-menu-bar .logo.logo-desktop {
        display: inline-block
    }

    .theme-menu-bar .logo.logo-mobile {
        display: none
    }

    .theme-menu-bar .menu-card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: left .4s, opacity .4s;
        transition: left .4s, opacity .4s;
        opacity: 0;
        max-height: 750px;
        min-width: 350px;
        top: auto;
        right: auto;
        bottom: auto;
        left: 200px;
        background: none;
        padding: 0;
        margin: auto 0;
        overflow: initial
    }

    .theme-menu-bar hr,
    .theme-menu-bar ul {
        margin: 0 0 0 50px
    }

    .theme-menu-bar ul li {
        margin: 3px 0
    }

    .theme-menu-bar hr {
        width: 30%
    }

    .theme-menu-bar hr:last-of-type {
        display: none
    }

    .theme-menu-bar.menu-sub {
        padding: 25px;
        left: 72px
    }

    .theme-menu-bar.menu-sub .menu-label span.text:after {
        position: relative;
        top: 10px;
        margin-left: 0;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .theme-menu-bar.menu-sub>.menu-label {
        display: block
    }

    .theme-menu-bar.menu-sub .menu-card {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .theme-menu-bar.menu-sub .menu-card .menu-label {
        display: none
    }

    .theme-menu-bar.menu-sub ul li {
        font-size: 13px
    }

    .theme-menu-bar.menu-sub ul ul {
        margin-left: 0
    }

    .theme-menu-bar.menu-align-top .menu-card {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        max-height: none;
        padding-top: 3px
    }

    .theme-menu-bar.menu-align-top .menu-card ul li:first-child {
        margin-top: 0
    }

    .theme-menu-bar.menu-open,
    .theme-menu-bar.menu-open.menu-sub {
        width: 400px
    }

    .theme-menu-bar.menu-open .menu-label .text {
        display: inline-block
    }

    .theme-menu-bar.menu-open .menu-label .close {
        display: none
    }

    .theme-menu-bar.menu-open .menu-card {
        left: 0;
        opacity: 1;
        top: auto;
        bottom: auto
    }
}

@media (min-width:992px) and (min-height:775px) {
    .theme-menu-bar {
        padding: 40px 22px
    }

    .theme-menu-bar .logo {
        margin-bottom: 40px
    }

    .theme-menu-bar .logo img {
        width: 140px
    }

    .theme-menu-bar ul li {
        margin: 7px 0
    }

    .theme-menu-bar ul.list-lg a {
        font-size: 22px
    }

    .theme-menu-bar ul ul {
        margin-top: 10px;
        margin-bottom: 35px
    }

    .theme-menu-bar hr,
    .theme-menu-bar hr:last-of-type {
        display: block
    }

    .theme-menu-bar hr:first-of-type {
        margin-top: 25px
    }

    .theme-menu-bar hr:last-of-type {
        margin-bottom: 45px
    }

    .theme-menu-bar.menu-sub {
        padding: 25px
    }

    .theme-menu-bar.menu-align-top .menu-card {
        padding-top: 19px
    }
}

@media (min-width:992px) and (min-height:900px) {
    .theme-menu-bar .logo {
        margin-bottom: 60px
    }

    .theme-menu-bar .logo img {
        width: 145px
    }

    .theme-menu-bar ul li {
        margin: 10px 0
    }

    .theme-menu-bar ul.list-lg a {
        font-size: 24px
    }

    .theme-menu-bar ul.list-sm a {
        font-size: 18px
    }

    .theme-menu-bar ul ul {
        margin-top: 15px;
        margin-bottom: 60px !important
    }

    .theme-menu-bar ul li:last-child ul {
        margin-bottom: 0 !important
    }

    .theme-menu-bar.menu-align-top .menu-card {
        padding-top: 21px
    }
}

@media (min-width:992px) and (min-height:1050px) {
    .theme-menu-bar .logo {
        margin-bottom: 60px
    }

    .theme-menu-bar .logo img {
        width: 145px
    }

    .theme-menu-bar ul li {
        margin: 13px 0
    }
}

@media (min-width:1500px) {
    .theme-menu-bar.menu-sub {
        width: 328px !important
    }

    .theme-menu-bar.menu-sub .menu-label {
        display: none !important
    }

    .theme-menu-bar.menu-sub .menu-card {
        left: 0;
        opacity: 1
    }

    .theme-menu-bar.menu-sub ul {
        margin-left: 10px
    }
}

@media (max-width: 768px) {
    .theme-menu-bar {
        top: 0px;
        bottom: auto;
    }

    .menu-card {
        bottom: 0px !important;
    }

    .theme-menu-bar.menu-open .menu-card {
        -webkit-transform: translateY(61px);
        transform: translateY(61px);
    }
}
